.icon-duotone-money-bill-1 {
  --fa-primary-color: #2c7d52;
  --fa-secondary-color: #aacbb9;
  --fa-secondary-opacity: 1;
}

.icon-duotone-circle-exclamation {
  --fa-primary-color: white;
  --fa-secondary-color: rgb(var(--v-theme-error));
  --fa-secondary-opacity: 1;
  --fa-primary-opacity: 1;
}

.icon-duotone-credit-card {
  --fa-primary-color: white;
  --fa-secondary-color: #8893dd;
  --fa-secondary-opacity: 1;
}

.icon-duotone-success {
  --fa-primary-color: #4CAF50;
  --fa-secondary-color: #DAFDDBFF;
  --fa-secondary-opacity: 1
}

.icon-duotone-success-reversed {
  --fa-primary-color: #DAFDDBFF;
  --fa-secondary-color: #4CAF50;
  --fa-secondary-opacity: 1
}

.icon-duotone-coupon {
  --fa-primary-color: #ffc56d;
  --fa-secondary-color: #FF9800;
  --fa-secondary-opacity: 1
}

.icon-duotone-upc{
  --fa-primary-color: #000000 ;
  --fa-secondary-color: #818181;
  --fa-secondary-opacity: 1;
}

.icon-duotone-eye {
  --fa-primary-color:#607d8b;
  --fa-secondary-color:#b0bec5;
  --fa-secondary-opacity: 1;
}

.icon-duotone-eye-warning {
  --fa-primary-color: #ff9800;
  --fa-secondary-color: #ff9800;
  --fa-primary-opacity: 1;
  --fa-secondary-opacity: 0.5;
}
